@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@300;400;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fragment+Mono:ital@0;1&family=Nanum+Gothic+Coding:wght@400;700&display=swap');

html {
  background: rgb(0,0,0);
  color: aliceblue;
}



h1 {
  font-size: 200px;
  font-weight: 900;
}

p {
  margin: 0;
  font-size: 36px;
}

.line-info {
  display: flex;
  box-shadow: 7px 0px 7px rgba(0, 0, 0, 0.267)

}

.imgContainer {
  display: flex;
  align-self: center;
  margin-right: 5px;
}

.timeTable {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 10px;
}

.station {
  text-align: left;
}

.updated {
  text-align: left;
  opacity: 0.4;
}

.stationTitle {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.cell-0{
  background-color: white;
  z-index: 0;
}
.cell-1{
  background-color: rgb(211, 211, 211);
  z-index: -1;
}
.cell-2{
  background-color: rgb(162, 162, 162);
  z-index: -2;
}
.cell-3{
  background-color: rgb(98, 98, 98);
  z-index: -3;
}
